<%= form_for(@busdayofweek) do |f| %>
  <% if @busdayofweek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@busdayofweek.errors.count, "error") %> prohibited this busdayofweek from being saved:</h2>

      <ul>
      <% @busdayofweek.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :bustime_id %><br>
    <%= f.text_field :bustime_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
