<h1>Listing busdayofweeks</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Direction</th>
      <th>Bustime</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @busdayofweeks.each do |busdayofweek| %>
      <tr>
        <td><%= busdayofweek.day %></td>
        <td><%= busdayofweek.direction %></td>
        <td><%= busdayofweek.bustime %></td>
        <td><%= link_to 'Show', busdayofweek %></td>
        <td><%= link_to 'Edit', edit_busdayofweek_path(busdayofweek) %></td>
        <td><%= link_to 'Destroy', busdayofweek, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busdayofweek', new_busdayofweek_path %>
