<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @busdayofweek.day %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @busdayofweek.direction %>
</p>

<p>
  <strong>Bustime:</strong>
  <%= @busdayofweek.bustime %>
</p>

<%= link_to 'Edit', edit_busdayofweek_path(@busdayofweek) %> |
<%= link_to 'Back', busdayofweeks_path %>
