<h1>Listing buslines</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Line</th>
      <th>Company</th>
      <th>Card price</th>
      <th>Money price</th>
      <th>Time to go</th>
      <th>Time to back</th>
      <th>Busdayofweek</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buslines.each do |busline| %>
      <tr>
        <td><%= busline.number %></td>
        <td><%= busline.line %></td>
        <td><%= busline.company %></td>
        <td><%= busline.card_price %></td>
        <td><%= busline.money_price %></td>
        <td><%= busline.time_to_go %></td>
        <td><%= busline.time_to_back %></td>
        <td><%= busline.busdayofweek %></td>
        <td><%= link_to 'Show', busline %></td>
        <td><%= link_to 'Edit', edit_busline_path(busline) %></td>
        <td><%= link_to 'Destroy', busline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busline', new_busline_path %>
