<h1>Listing bustimes</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Label</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bustimes.each do |bustime| %>
      <tr>
        <td><%= bustime.time %></td>
        <td><%= bustime.label %></td>
        <td><%= link_to 'Show', bustime %></td>
        <td><%= link_to 'Edit', edit_bustime_path(bustime) %></td>
        <td><%= link_to 'Destroy', bustime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bustime', new_bustime_path %>
